



{#{% if current_user.is_anonymous %}#}
{#    <a href="{{ url_for('homepage') }}">home</a>#}
{#    <a href="{{ url_for('listOfArtists') }}">artists</a>#}
{#    <a href="{{ url_for('createNewArtist') }}">create a new artist</a>#}
{#    <a href="{{ url_for('login') }}">Login</a></li>#}
{#{% else %}#}
{#    <a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>#}
{#    <a href="{{ url_for('logout') }}">Logout</a></li>#}
{#{% endif %}#}

{#<a href="{{ url_for('homepage') }}">home</a>#}
{#            <a href="{{ url_for('listOfArtists') }}">artists</a>#}
{#            <a href="{{ url_for('createNewArtist') }}">create a new artist</a>#}
{#            <a href="{{ url_for('login') }}">login</a>#}
{#            <a href="{{ url_for('logout') }}">logout</a>#}

<!DOCTYPE html>
<html lang="en">
    <body>
        <div>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('homepage') }}">Home</a>
                <a href="{{ url_for('listOfArtists') }}">Artists</a>
                <a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
                <a href="{{ url_for('homepage') }}">Home</a>
                <a href="{{ url_for('listOfArtists') }}">Artist</a>
                <a href="{{ url_for('createNewArtist') }}">Create</a>
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                <a href="{{ url_for('logout') }}">Logout</a></li>
{% endif %}
        </div>
        <hr>
        {% block app_content %}
            <h1>Welcome to My Local Music Database</h1>
            <p>Discover local artists :)</p>
        {% endblock %}
    </body>
</html>