<html>
    <head>
        {% if title %}
        <title>{{ title }} - my favorite artist</title>
        {% else %}
        <title>my favorite artist right now is sir!</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="/home">home</a>
            <a href="/listOfArtists">artists</a>
{#          <a href="/newArtist">new artists</a>
        </div>
        <hr>
        <h2>{{ user.title }}</h2>
        <p>{{ body.body }}</p>
        {% block content %}{% endblock %}
    </body>
</html>