{#<html>#}
{#    <head>#}
{#        {% if title %}#}
{#        <title>{{ title }} - welcome to my local music database</title>#}
{#        {% else %}#}
{#        <title>come find out about my current favorite artists :)</title>#}
{#        {% endif %}#}
{#    </head>#}
{#    <body>#}
{#        <div>#}
{#            <a href="/home">home</a>#}
{#            <a href="/listOfArtists">artists</a>#}
{#          <a href="/newArtist">new artists</a>
{#        </div>#}
{#        <hr>#}
{#        <h2>{{ user.title }}</h2>#}
{#        <p>{{ body.body }}</p>#}
{#        {% block content %}{% endblock %}#}
{#    </body>#}
{#</html>#}