{% extends "base.html" %}

{% block app_content %}
    <h1>Create New Event</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.eventName.label }}<br>
            {{ form.eventName(size=32) }}<br>
            {% for error in form.eventName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.venueName.label }}<br>
            {{ form.venueName() }}<br>
            {% for error in form.venueName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.artists.label }}<br>
            {{ form.artists() }}<br>
            {% for error in form.artists.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
