<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - create a new artist</title>
        {% else %}
        <title>create a new artist</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('homepage') }}">home</a>
            <a href="{{ url_for('listOfArtists') }}">artists</a>
            <a href="{{ url_for('createNewArtist') }}">create a new artist</a>
        </div>
        <hr>
        <h2>Sir Darryl Farris</h2>
        <h4>also referred to as, SiR</h4>
        <p>SiR is from Inglewood, California. He is 33 years old and released his debut album January 19th, 2018.</p>
        {% block content %}{% endblock %}
    </body>
</html>
